<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>显示设备信息</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body>
<div>
    <div class="container">
        <form th:action="@{/selectAntiTest}" th:method="post">
            <h3>查询栏位</h3>
            <a>编号:</a><input type="text" id="anti_id" name="anti_id" class="form-search" placeholder="请输入设备编号"/>
            <a>设备名称:</a><input type="text" id="anti_name" name="anti_name" class="form-search" placeholder="请输入设备名称"/>
            <a>设备创建时间:</a><input type="date" id="anti_createdate" name="anti_createdate" class="form-search"  placeholder="请输入设备创建时间"/>
            <a>设备数量:</a><input type="text" id="anti_cnt" name="anti_cnt" class="form-search" placeholder="请输入设备数量"/>
            <button type="submit" class="btn btn-success">查询</button>
        </form>
    </div>

    <table border="1" width="1200" class="container">
        <thead>
        <tr>
            <td>编号</td>
            <td>设备名</td>
            <td>创建时间</td>
            <td>数量</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${anti_tests} eq 0">
            <td colspan="6">没有数据</td>
        </tr>
        <tr th:each="anti : ${anti_tests}">
            <!--anti_test实体类的属性是private修饰，不可以直接调用 -->
            <td th:text="${anti.id}">1</td>
            <td th:text="${anti.computername}">admin</td>
            <td th:text="${#dates.format(anti.createdate, 'yyyy年MM月dd日')}">1970-01-01</td>
            <td th:text="${anti.cnt}">2000.00</td>
            <td>
                <a  class="btn btn-primary btn-small"
                        th:href="@{/save(id=${anti.id})}">清除设备信息
                </a>
                <a  class="btn btn-secondary"
                        th:href="@{/edit(id=${anti.id})}">修改
                </a>
                <a class="btn btn-danger btn-small" href="show_table.html"
                        th:href="@{/del(id=${anti.id})}">删除
                </a>
            </td>
        </tr>
        <td colspan="10" align="center"><a class="btn btn-primary" href="edit_table.html" th:href="@{/edit}">新增设备信息</a>
        </td>
        </tbody>
    </table>
    <div class="container">
        <div class="modal-footer right">
            <span class="header-panel">版权 © sunhaoyue@2019.6-2019.7</span>
        </div>
        <h2>bootstrap4按钮样式</h2>
        <button type="button" class="btn">基本按钮</button>
        <button type="button" class="btn btn-primary">主要按钮</button>
        <button type="button" class="btn btn-secondary">次要按钮</button>
        <button type="button" class="btn btn-success">成功</button>
        <button type="button" class="btn btn-info">信息</button>
        <button type="button" class="btn btn-warning">警告</button>
        <button type="button" class="btn btn-danger">危险</button>
        <button type="button" class="btn btn-dark">黑色</button>
        <button type="button" class="btn btn-light">浅色</button>
        <button type="button" class="btn btn-link">链接</button>
    </div>

</div>
</body>
</html>